.highlight {
	font-weight: bold;
}
td.highlight {
	background: yellow;
}
.view-clone-of-taxonomy-term table caption {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
	text-align: center;
}
#edit-event-calendar-date {
	clear:left;
	margin-top: 20px;
	display: block;
	overflow: hidden;
}
#edit-field-event-calendar-type-und div{
	float:left;
	margin-right: 25px;
}